// About me

$mainColor: #c2073c;

.about-me {
	padding: 100px 30px 0 30px;
	h2 {
		color: #111;
		text-transform: uppercase;
		font-size: 36px;
		position: relative;
	}
	.titles {
		border-left: 3px solid $mainColor;
		padding-left: 10px;
		p {
			color: #444;
		}
	}
	.text {
		display: flex;
		margin-top: 50px;
		h3 {
			color: #111;
			font-size: 24px;
			font-weight: 600;
		}
		.main-text {
			padding-top: 20px;
			color: #444;
			line-height: 2.4;
			font-size: 0.9rem;
			text-indent: 20px;
		}
		.subtitle {
			padding-top: 10px;
			font-style: italic;
		}
	}
	.text .description {
		padding-left: 50px;
		padding-top: 50px;
	}
	.photo-ksenia img {
		max-width: 420px;
		border-right: 20px solid $mainColor;
		border-bottom: 20px solid $mainColor;
	}
}

.spot {
	color: #111;
	text-transform: uppercase;
	font-size: 67px;
	background-image: url(../assets/spot.png);
	background-size: 85px;
	background-position: 30px top;
	background-repeat: no-repeat;
	position: relative;
}

.sertificate-small {
	width: 180px;
	margin-top: 10px;
	cursor: pointer;
}

.sertificate-small img {
	width: 100%;
}
