// About me

$mainColor: #c2073c;

.about-me {
	padding: 100px 30px 0 30px;
	h2 {
		color: #111;
		text-transform: uppercase;
		font-size: 36px;
		position: relative;
	}
	.titles {
		border-left: 3px solid $mainColor;
		padding-left: 10px;
		p {
			color: #444;
		}
	}
	.text {
		display: flex;
		margin-top: 50px;
		h3 {
			color: #111;
			font-size: 24px;
			font-weight: 600;
		}
		.main-text {
			padding-top: 20px;
			color: #444;
			line-height: 2;
			font-size: 0.9rem;
		}
		.subtitle {
			padding-top: 10px;
			font-style: italic;
		}
	}
	.text .description {
		padding-left: 50px;
		padding-top: 25px;
	}
	.photo-ksenia img {
		max-width: 420px;
		border-right: 20px solid $mainColor;
		border-bottom: 20px solid $mainColor;
	}
}

.sertificate-small {
	cursor: pointer;
	max-width: 720px;
	margin: 0 auto;
	width: 80%;
	margin-top: 50px;
}

.sertificate-small img {
	width: 100%;
}
