// Home section

$mainColor: #c2073c;
$hoverColor: #8a042a;

.home-section {
	display: flex;
	justify-content: space-between;
	margin-top: 180px;
	padding: 0 30px;
	.left {
		padding-right: 40px;
	}
	.name {
		color: #111;
		text-transform: uppercase;
		font-size: 67px;
		background-size: 80px;
		background-position: 20px top;
		background-repeat: no-repeat;
		position: relative;
	}
	.text {
		line-height: 32px;
		font-size: 16px;
		color: #444;
		width: 100%;
		max-width: 600px;
		margin-top: 50px;
		margin-right: 25px;
	}

	img {
		max-width: 720px;
		width: 100%;
	}
}
.button-contacts-small-screen {
	display: none;
}

a.button-small {
	cursor: pointer;
	width: 220px;
	border: none;
	background: $mainColor;
	color: #fff;
	margin: 0 0 5px;
	padding: 14px 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	span {
		margin-right: 9px;
		margin-top: 5px;
		font-size: 1.125em;
	}
	svg {
		width: 1.5em;
		height: 1.5em;
		margin-left: 10px;
		margin-bottom: 2px;
	}
}
.button-small:hover {
	background-color: $hoverColor;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
.button-small:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.button-contacts-large-screen {
	margin-top: 25px;
}
