// media quieries

$mainColor: #c2073c;

@media screen and (max-width: 1120px) {
	.header-wrapper ul li {
		margin-left: 15px;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 1024px) {
	.about-me,
	.resume,
	.portfolio,
	.recomendations,
	.prices,
	.contacts {
		padding-top: 50px;
	}
	.button-contacts-small-screen {
		display: block;
	}
	.button-contacts-large-screen {
		display: none;
	}
	.button-to-contacts {
		margin-top: 4px;
	}
	.header {
		justify-content: space-around;
	}
	nav {
		display: none;
	}
	.home-section .text {
		margin-top: 15px;
	}
	.pros-element {
		width: 47%;
	}
	.recomendations {
		padding-top: 30px;
	}
	.forms {
		flex-direction: column;
	}
	.slides,
	.slide {
		width: 100%;
	}
	.about-me .text .description {
		padding-top: 0;
	}
}

@media screen and (max-width: 920px) {
	.header-wrapper {
		padding: 0;
	}

	.sertificate-small {
		width: 90%;
		margin-top: 25px;
	}

	.home-section {
		margin-top: 120px;
	}
	.home-section .name {
		font-size: 44px;
	}

	.about-me .text {
		flex-direction: column;
		align-items: center;
		margin-left: 0;
	}
	.about-me .text .description {
		padding-left: 0;
		padding-top: 30px;
	}
	.resume {
		padding-top: 75px;
	}
	.resume .main-information {
		flex-direction: column;
		align-items: center;
	}
	.resume .main-information > div {
		width: 100%;
	}
	.resume .experience {
		margin-top: 40px;
	}
	.pros {
		margin-top: 50px;
	}
	.pros-element {
		width: 60%;
		min-width: 480px;
		margin: 0 auto;
		margin-bottom: 45px;
	}
	.portfolio .article {
		width: 48%;
	}

	.slides,
	.slide {
		width: 100%;
	}

	.prices {
		padding-top: 75px;
	}
	.price {
		width: 48%;
	}
	.contacts {
		padding-top: 75px;
	}
}

@media screen and (max-width: 768px) {
	.slides,
	.slide {
		height: 400px;
	}
	.nav label {
		font-size: 124pt;
		line-height: 480px;
	}
	.nav-dots {
		bottom: 9px;
	}
}

@media screen and (max-width: 640px) {
	.about-me,
	.resume,
	.portfolio,
	.prices {
		padding-top: 35px;
	}
	.contacts .forms #contact-form {
		padding: 25px 20px 30px 20px;
	}
	.first-photo {
		display: none;
	}

	.resume .main-information > div {
		width: 100%;
	}
	.pros-element {
		width: 80%;
		min-width: 450px;
	}
	.portfolio .articles {
		margin-top: 25px;
	}
	.portfolio .article {
		width: 84%;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.recomendation-user__photo img {
		width: 75px;
		min-height: 75px;
	}
	.recomendation-user__photo h3 {
		font-size: 1.125em;
	}
	.second-part {
		display: none;
	}
	.slides,
	.slide {
		height: 380px;
	}
	.nav label {
		font-size: 124pt;
		line-height: 380px;
	}
	.price {
		width: 96%;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.titles h2 {
		font-size: 1.5em;
	}
	#contact-form {
		padding: 10px 0px 30px 0px;
	}
	.contacts .forms #contact-form button[type="submit"] {
		width: 100%;
		padding: 15px 0;
		font-size: 1.125em;
	}
	.footer {
		padding: 20px 0;
	}
}

@media screen and (max-width: 540px) {
	.slides,
	.slide {
		height: 460px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		justify-content: space-around;
		flex-direction: column;
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.sertificate-small {
		width: 100%;
		margin-top: 10px;
	}

	.header-name {
		font-size: 1em;
	}
	.home-section .name {
		margin-top: 25px;
	}

	.button-to-contacts {
		text-transform: none;
	}
	.button-contacts-small-screen {
		margin-top: 20px;
	}
	.about-me .photo-ksenia img {
		width: 100%;
	}

	.recomendation-user__text {
		font-size: 14px;
	}
	.recomendation-user h3 {
		font-size: 15px;
	}

	.slides,
	.slide {
		height: 370px;
	}
	.slides {
		margin-bottom: 25px;
	}
	.nav label {
		font-size: 124pt;
		line-height: 100px;
		height: 25%;
	}
	.recomendation .content {
		padding: 7px 13px;
	}
	.portfolio .article {
		width: 100%;
	}

	.pros-element {
		width: 100%;
		min-width: 304px;
	}

	.recomendation-user__photo h3 {
		font-size: 0.9em;
	}
	.recomendation-user__photo img {
		width: 60px;
		min-height: 60px;
	}
	.contacts {
		padding-top: 10px;
	}
	#contact-form button[type="submit"] {
		font-size: 1em;
	}
	.contacts-information .mail span,
	.contacts-information .phone strong {
		display: block;
	}
	.contacts-information .title {
		font-size: 1.25em;
	}
}

@media screen and (max-width: 380px) {
	.slides,
	.slide {
		height: 500px;
	}
}

@media screen and (max-width: 360px) {
	.portfolio .sign {
		font-size: 1em;
	}
	.pros-element {
		width: 100%;
		min-width: 260px;
		.title h6 {
			font-size: 14px;
		}
		font-size: 14px;
	}
	.recomendation .content {
		padding: 7px 13px;
	}
}
