// Price

$mainColor: #c2073c;

.prices {
	padding: 100px 30px 0 30px;
	h2 {
		color: #111;
		text-transform: uppercase;
		font-size: 36px;
		position: relative;
	}
	.titles {
		border-left: 3px solid $mainColor;
		padding-left: 10px;
	}
	&-blocks {
		margin-top: 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.price {
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px 5px #1111;
	box-shadow: 0 0 10px 5px #1111;
	padding: 30px 20px;
	width: 32%;
	margin-top: 25px;
	cursor: pointer;
	&:hover {
		transform: translateY(5px);
	}
	h3 {
		text-indent: 15px;
		color: $mainColor;
	}
	p {
		line-height: 1.75;
		margin-top: 15px;
		strong {
			font-size: 1.25em;
		}
	}
}
