// Recomendations

$mainColor: #c2073c;
.recomendation-wrapper {
	color: #fff;
	background-color: black;
}

.recomendations {
	padding: 100px 30px 0 30px;
	h2 {
		color: #fff;
		text-transform: uppercase;
		font-size: 36px;
		position: relative;
	}
	.titles {
		border-left: 3px solid $mainColor;
		padding-left: 10px;
		margin-bottom: 50px;
	}
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper-slider {
	height: 100%;
	padding: 0 50px 75px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-slider {
	min-width: 0;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
	align-items: flex-start;
}

.slider {
	position: relative;
	padding: 0px 60px;
	max-width: 1080px;
	img {
		width: 150px;
		min-height: 150px;
		height: auto;
		border-radius: 50%;
	}
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
	cursor: pointer;
}
.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../assets/sl-arrow_l.svg") 0 0 / 100% no-repeat;
	border: none;
}
.slider .slick-arrow.slick-next {
	right: 0;
	background: url("../assets/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li {
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
	background-color: transparent;
}

.slider__title {
	display: flex;
	align-items: center;
}

.slider__title > p {
	font-size: 20px;
	margin-left: 15px;
	font-weight: 600;
}

.slider__text {
	line-height: 2;
	font-size: 16px;
	margin-top: 15px;
}

.slider__item {
	padding: 0px 15px;
}

.slider__title > div:first-child {
	width: 150px;
}
