// Recomendations

$mainColor: #c2073c;

.recomendations {
	padding: 100px 30px 0 30px;
	h2 {
		color: #111;
		text-transform: uppercase;
		font-size: 36px;
		position: relative;
	}
	.titles {
		border-left: 3px solid $mainColor;
		padding-left: 10px;
		margin-bottom: 50px;
	}
}

.recomendation {
	max-width: 920px;
	&-user__photo {
		display: flex;
		align-items: center;
		margin: 15px 50px;

		h3 {
			margin-left: 15px;
		}
		img {
			width: 150px;
			min-height: 150px;
			height: auto;
			border-radius: 50%;
			z-index: 1;
			border-left: 1px solid $mainColor;
			padding: 5px;
		}
	}
	.content {
		padding: 3px 77px;
		z-index: -1;
		border-radius: 5px;
		line-height: 1.75;
		p {
			text-indent: 15px;
		}
	}
}

.main-information {
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	& > div {
		width: 48%;
	}
}

.footer {
	background-color: #111;
	text-align: center;
	padding: 40px 0;
	color: white;
}

.adaptivny-slayder {
	position: relative;
	max-width: 920px;
	margin: 50px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
	input[name="kadoves"] {
		display: none;
	}
}

.kadoves {
	position: absolute;
	left: 0;
	bottom: -40px;
	text-align: center;
	width: 100%;
	label {
		display: inline-block;
		width: 8px;
		height: 8px;
		cursor: pointer;
		margin: 0 3px;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
		border-radius: 50%;
		border: 5px solid #2f363c;
	}
}

#slaid1:checked ~ .kadoves label[for="slaid1"] {
	background-color: white;
}

#slaid2:checked ~ .kadoves label[for="slaid2"] {
	background-color: white;
}

#slaid3:checked ~ .kadoves label[for="slaid3"] {
	background-color: white;
}

.adaptivny-slayder-lasekun {
	overflow: hidden;
}

.abusteku-deagulus {
	display: flex;
	width: 100%;
	transition: all 0.5s;
}

.abusteku-deagulus div {
	flex-shrink: 0;
}

#slaid1:checked ~ adaptivny-slayder-lasekun abusteku-deagulus {
	transform: translate(0);
}

#slaid2:checked ~ .adaptivny-slayder-lasekun .abusteku-deagulus {
	transform: translateX(-100%);
}

#slaid3:checked ~ .adaptivny-slayder-lasekun .abusteku-deagulus {
	transform: translateX(-200%);
}

.slides {
	padding: 0;
	width: 80%;
	max-width: 1220px;
	height: 380px;
	display: block;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slides * {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.slides input {
	display: none;
}

.slide-container {
	display: block;
}

.slide {
	top: 0;
	opacity: 0;
	height: 480px;
	display: block;
	position: absolute;
	transform: scale(0);
	transition: all 0.7s ease-in-out;
}

.nav label {
	height: 100%;
	display: none;
	position: absolute;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
	transition: opacity 0.2s;
	color: #fff;
	font-size: 156pt;
	text-align: center;
	line-height: 380px;
	font-family: "Varela Round", sans-serif;
	// background-color: rgba(255, 255, 255, 0.3);
	text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
	opacity: 0.5;
}

.nav label:hover {
	opacity: 1;
	color: $mainColor;
}

.nav .next {
	right: 0;
}

input:checked + .slide-container .slide {
	opacity: 1;
	transform: scale(1);
	transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
	display: block;
}

.nav-dots {
	width: 100%;
	bottom: 40px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
