$mainColor: #c2073c;

@import "header";
@import "home-section";
@import "about-me";
@import "resume";
@import "pros";
@import "portfolio";
@import "recomendations";
@import "prices";
@import "contacts";
@import "media-queries";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	letter-spacing: 0.8px;
	background-color: #f5f5f5;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
