.header-wrapper {
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 0 30px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 auto;
  position: fixed; }
  .header-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-wrapper ul li {
      list-style: none;
      margin-left: 20px;
      position: relative;
      padding: 0 5px; }
      .header-wrapper ul li::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #c2073c;
        width: 0%;
        height: 1px;
        left: 0;
        bottom: -8px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .header-wrapper ul li:hover::after {
        width: 100%; }
  .header-wrapper .header-name {
    color: #c2073c;
    font-weight: 600; }
  .header-wrapper a {
    text-decoration: none;
    color: #111; }

.header-active {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px #4442;
  box-shadow: 0px 0px 10px 5px #4442; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  z-index: 999; }
  .header-name {
    font-size: 1.125em; }
    .header-name a {
      color: #c2073c;
      text-decoration: none;
      font-family: "Libre Baskerville", serif;
      font-size: 1.5em; }
      .header-name a:hover {
        color: #343a40; }

.home-section {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0 30px; }
  .home-section .left {
    padding-right: 40px; }
  .home-section .name {
    color: #111;
    text-transform: uppercase;
    font-size: 67px;
    background-size: 80px;
    background-position: 20px top;
    background-repeat: no-repeat;
    position: relative; }
  .home-section .text {
    line-height: 32px;
    font-size: 16px;
    color: #444;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
    margin-right: 25px; }
  .home-section img {
    max-width: 720px;
    width: 100%; }

.button-contacts-small-screen {
  display: none; }

a.button-small {
  cursor: pointer;
  width: 220px;
  border: none;
  background: #c2073c;
  color: #fff;
  margin: 0 0 5px;
  padding: 14px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none; }
  a.button-small span {
    margin-right: 9px;
    margin-top: 5px;
    font-size: 1.125em; }
  a.button-small svg {
    width: 1.5em;
    height: 1.5em;
    margin-left: 10px;
    margin-bottom: 2px; }

.button-small:hover {
  background-color: #8a042a;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

.button-small:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.button-contacts-large-screen {
  margin-top: 25px; }

.about-me {
  padding: 100px 30px 0 30px; }
  .about-me h2 {
    color: #111;
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }
  .about-me .titles {
    border-left: 3px solid #c2073c;
    padding-left: 10px; }
    .about-me .titles p {
      color: #444; }
  .about-me .text {
    display: flex;
    margin-top: 50px; }
    .about-me .text h3 {
      color: #111;
      font-size: 24px;
      font-weight: 600; }
    .about-me .text .main-text {
      padding-top: 20px;
      color: #444;
      line-height: 2;
      font-size: 0.9rem; }
    .about-me .text .subtitle {
      padding-top: 10px;
      font-style: italic; }
  .about-me .text .description {
    padding-left: 50px;
    padding-top: 25px; }
  .about-me .photo-ksenia img {
    max-width: 420px;
    border-right: 20px solid #c2073c;
    border-bottom: 20px solid #c2073c; }

.sertificate-small {
  cursor: pointer;
  max-width: 720px;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px; }

.sertificate-small img {
  width: 100%; }

.resume {
  padding: 100px 30px 0 30px; }
  .resume .titles {
    border-left: 3px solid #c2073c;
    padding-left: 10px; }
  .resume .education,
  .resume .experience {
    border-left: 2px solid #999;
    padding: 0 30px 0 30px; }
  .resume h2 {
    color: #111;
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }
  .resume h5 {
    color: #111;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    position: relative; }
    .resume h5::before {
      position: absolute;
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      background-color: #c2073c;
      left: -43px; }
  .resume .main-information {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
    .resume .main-information > div {
      width: 50%; }
    .resume .main-information h3 {
      margin-bottom: 15px; }
  .resume .description {
    padding: 25px 0; }

.feedback {
  margin-top: 100px; }
  .feedback h2 {
    color: #111;
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }

.pros {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .pros-element {
    width: 30%;
    padding: 30px 20px;
    -webkit-box-shadow: 0 0 50px 5px #1112;
    box-shadow: 0 0 50px 5px #1112;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .pros-element:hover {
      transform: translateY(-10px);
      background-color: #343a40;
      color: #fff;
      border-color: #fff; }
    .pros-element .title {
      position: absolute;
      padding: 25px 10px 10px 25px;
      border: 1px solid rgba(0, 0, 0, 0.75);
      display: inline-block;
      top: -10px;
      left: -10px;
      font-size: 0.95em; }
      .pros-element .title h6 {
        font-size: 16px;
        font-weight: 600; }
    .pros-element .subtitle {
      margin-top: 25px;
      line-height: 1.5; }

.portfolio {
  padding: 100px 30px 15px 30px; }
  .portfolio .titles {
    border-left: 3px solid #c2073c;
    padding-left: 10px; }
  .portfolio h2 {
    color: #111;
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }
  .portfolio .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px; }
  .portfolio .article {
    width: 32%;
    position: relative;
    margin-bottom: 25px; }
    .portfolio .article:hover {
      transform: translateY(-5px); }
    .portfolio .article img {
      width: 100%;
      opacity: 0.8;
      filter: brightness(30%);
      -webkit-filter: brightness(30%);
      height: auto; }
      .portfolio .article img:hover {
        opacity: 1;
        filter: brightness(50%);
        -webkit-filter: brightness(50%); }
  .portfolio .sign {
    position: absolute;
    top: 15%;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: bold;
    position: absolute;
    margin: 0 25px; }

#all-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  color: black; }
  #all-link:hover {
    background-size: 100% 2px;
    color: #c2073c; }

.recomendation-wrapper {
  color: #fff;
  background-color: black; }

.recomendations {
  padding: 100px 30px 0 30px; }
  .recomendations h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }
  .recomendations .titles {
    border-left: 3px solid #c2073c;
    padding-left: 10px;
    margin-bottom: 50px; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

.wrapper-slider {
  height: 100%;
  padding: 0 50px 75px 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.slick-slider {
  min-width: 0; }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex;
  align-items: flex-start; }

.slider {
  position: relative;
  padding: 0px 60px;
  max-width: 1080px; }
  .slider img {
    width: 150px;
    min-height: 150px;
    height: auto;
    border-radius: 50%; }

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  cursor: pointer; }

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../assets/sl-arrow_l.svg") 0 0/100% no-repeat;
  border: none; }

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../assets/sl-arrow_r.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-disabled {
  opacity: 0.2; }

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center; }

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%; }

.slider .slick-dots li.slick-active button {
  background-color: transparent; }

.slider__title {
  display: flex;
  align-items: center; }

.slider__title > p {
  font-size: 20px;
  margin-left: 15px;
  font-weight: 600; }

.slider__text {
  line-height: 2;
  font-size: 16px;
  margin-top: 15px; }

.slider__item {
  padding: 0px 15px; }

.slider__title > div:first-child {
  width: 150px; }

.prices {
  padding: 100px 30px 50px 30px; }
  .prices h2 {
    color: #111;
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }
  .prices .titles {
    border-left: 3px solid #c2073c;
    padding-left: 10px; }
  .prices-blocks {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.price {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 5px #1111;
  box-shadow: 0 0 10px 5px #1111;
  padding: 30px 20px;
  width: 32%;
  margin-top: 25px;
  cursor: pointer; }
  .price h3 {
    color: #c2073c; }
  .price p {
    line-height: 1.75;
    margin-top: 15px; }
    .price p strong {
      font-size: 1.25em; }

.wrapper {
  background-color: #212121;
  color: white; }

.contacts {
  padding: 0 30px;
  padding-top: 100px; }
  .contacts h2 {
    text-transform: uppercase;
    font-size: 36px;
    position: relative; }
  .contacts .titles {
    border-left: 3px solid #c2073c;
    padding-left: 10px;
    margin-top: 15px; }
  .contacts .forms {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
    .contacts .forms .title {
      margin-bottom: 25px; }
    .contacts .forms #contact-form {
      padding: 10px 20px 30px 20px; }
      .contacts .forms #contact-form input,
      .contacts .forms #contact-form select,
      .contacts .forms #contact-form textarea,
      .contacts .forms #contact-form label {
        font-size: 15px;
        margin-bottom: 2px;
        font-family: Arial, san-serif; }
      .contacts .forms #contact-form input,
      .contacts .forms #contact-form select,
      .contacts .forms #contact-form textarea {
        width: 100%;
        background: #fff;
        border: 0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 25px;
        padding: 10px; }
      .contacts .forms #contact-form input:focus,
      .contacts .forms #contact-form select:focus,
      .contacts .forms #contact-form textarea:focus {
        background-color: #e5e6e7; }
      .contacts .forms #contact-form textarea {
        width: 100%;
        height: 150px; }
      .contacts .forms #contact-form button[type="submit"] {
        cursor: pointer;
        width: 180px;
        border: none;
        background: #c2073c;
        color: #fff;
        margin: 0 0 5px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .contacts .forms #contact-form button[type="submit"]:hover {
        background-color: #8a042a;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
      .contacts .forms #contact-form button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }
      .contacts .forms #contact-form button[type="submit"] span {
        margin-right: 9px;
        margin-top: 5px;
        font-size: 1.125em; }
      .contacts .forms #contact-form button[type="submit"] svg {
        width: 1.5em;
        height: 1.5em; }
      .contacts .forms #contact-form .required {
        font-weight: bold;
        color: #e5e6e7; }

input:required,
textarea:required {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none; }

#contact-form #failure,
#success {
  color: #6ea070;
  display: none; }

.contacts-information .title {
  font-size: 1.75em;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px; }
.contacts-information p {
  font-size: 1.125em;
  text-indent: 15px;
  margin-bottom: 15px; }
.contacts-information .mail,
.contacts-information .phone {
  margin-left: 15px;
  font-size: 1.125em;
  color: white; }
  .contacts-information .mail i,
  .contacts-information .phone i {
    margin-right: 7px; }
  .contacts-information .mail svg,
  .contacts-information .phone svg {
    height: 1.35em;
    width: 1.35em;
    margin-top: 5px;
    margin-right: 7px; }
  .contacts-information .mail a,
  .contacts-information .phone a {
    text-decoration: none;
    color: white; }
    .contacts-information .mail a span:hover,
    .contacts-information .mail a strong:hover,
    .contacts-information .phone a span:hover,
    .contacts-information .phone a strong:hover {
      color: #c2073c; }
.contacts-information .mail {
  margin-top: 25px; }
.contacts-information .note {
  font-size: 1em;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 50px;
  margin-top: 25px;
  margin-left: 25px; }
.contacts-information .social-media {
  font-size: 2em;
  margin-top: 25px; }
.contacts-information .insta a {
  color: #b47144; }
  .contacts-information .insta a:hover {
    color: #f39759; }
.contacts-information .vk a {
  color: #4a76a8; }
  .contacts-information .vk a:hover {
    color: #2c75c9; }

.footer {
  background-color: #1f1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0; }

@media screen and (max-width: 1120px) {
  .header-wrapper ul li {
    margin-left: 15px;
    font-size: 0.9em; } }
@media screen and (max-width: 1024px) {
  .about-me,
  .resume,
  .portfolio,
  .recomendations,
  .prices,
  .contacts {
    padding-top: 50px; }

  .button-contacts-small-screen {
    display: block; }

  .button-contacts-large-screen {
    display: none; }

  .button-to-contacts {
    margin-top: 4px; }

  .header {
    justify-content: space-around; }

  nav {
    display: none; }

  .home-section .text {
    margin-top: 15px; }

  .pros-element {
    width: 47%; }

  .recomendations {
    padding-top: 30px; }

  .forms {
    flex-direction: column; }

  .about-me .text .description {
    padding-top: 0; } }
@media screen and (max-width: 920px) {
  .header-wrapper {
    padding: 0; }

  .sertificate-small {
    width: 90%;
    margin-top: 25px; }

  .home-section {
    margin-top: 120px; }

  .home-section .name {
    font-size: 44px; }

  .about-me .text {
    flex-direction: column;
    align-items: center;
    margin-left: 0; }

  .about-me .text .description {
    padding-left: 0;
    padding-top: 30px; }

  .resume {
    padding-top: 75px; }

  .resume .main-information {
    flex-direction: column;
    align-items: center; }

  .resume .main-information > div {
    width: 100%; }

  .resume .experience {
    margin-top: 40px; }

  .pros {
    margin-top: 50px; }

  .pros-element {
    width: 60%;
    min-width: 480px;
    margin: 0 auto;
    margin-bottom: 45px; }

  .portfolio .article {
    width: 48%; }

  .prices {
    padding-top: 75px; }

  .price {
    width: 48%; }

  .contacts {
    padding-top: 75px; } }
@media screen and (max-width: 868px) {
  .slider__item {
    padding: 0; }

  .slider .slick-arrow.slick-prev,
  .slider .slick-arrow.slick-next {
    display: none !important; }

  .wrapper-slider {
    padding: 20px 0; }

  .slider {
    padding: 0 10px; } }
@media screen and (max-width: 640px) {
  .about-me,
  .resume,
  .portfolio,
  .prices {
    padding-top: 35px; }

  .contacts .forms #contact-form {
    padding: 25px 20px 30px 20px; }

  .first-photo {
    display: none; }

  .resume .main-information > div {
    width: 100%; }

  .pros-element {
    width: 80%;
    min-width: 450px; }

  .portfolio .articles {
    margin-top: 25px; }

  .portfolio .article {
    width: 84%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 25px; }

  .price {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 25px; }

  .titles h2 {
    font-size: 1.5em; }

  #contact-form {
    padding: 10px 0px 30px 0px; }

  .contacts .forms #contact-form button[type="submit"] {
    width: 100%;
    padding: 15px 0;
    font-size: 1.125em; }

  .footer {
    padding: 20px 0; }

  .slider__title > p {
    font-size: 18px;
    margin-left: 10px; }

  .wrapper-slider {
    padding: 10px 0; }

  .slider__title img {
    width: 100px;
    min-height: 100px; } }
@media screen and (max-width: 480px) {
  .header {
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 40px; }

  .sertificate-small {
    width: 100%;
    margin-top: 10px; }

  .header-name {
    font-size: 1em; }

  .home-section .name {
    margin-top: 25px; }

  .button-to-contacts {
    text-transform: none; }

  .button-contacts-small-screen {
    margin-top: 20px; }

  .about-me .photo-ksenia img {
    width: 100%; }

  .portfolio .article {
    width: 100%; }

  .pros-element {
    width: 100%;
    min-width: 304px; }

  .contacts {
    padding-top: 10px; }

  #contact-form button[type="submit"] {
    font-size: 1em; }

  .contacts-information .mail span,
  .contacts-information .phone strong {
    display: block; }

  .contacts-information .title {
    font-size: 1.25em; }

  .footer {
    justify-content: start;
    padding-left: 50px; }

  .slider__title img {
    width: 80px;
    min-height: 80px; } }
@media screen and (max-width: 360px) {
  .portfolio .sign {
    font-size: 1em; }

  .pros-element {
    width: 100%;
    min-width: 260px;
    font-size: 14px; }
    .pros-element .title h6 {
      font-size: 14px; } }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  letter-spacing: 0.8px;
  background-color: #f5f5f5; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
